@import "breakpoint";

$mobile: max-width 500px;

@mixin site_color($site, $color, $color-light, $alt: 'none') {
  .#{$site} {
    .headline {
      .tag {
        color: $color-light;
      }
      &.active {
        .site_color {
          color: $color !important;
        }
      }
    }
    h4.tag {
      @if $alt == 'none' {
        color: $color !important;
      }
      @else {
        color: $alt !important;
      }
    }
    .mark {
      background: $color;
    }
    .marker {
      background: $color-light;
    }
    @include breakpoint($mobile) {
      .container {
        .header {
          @if $alt == 'none' {
            background: $color;
          }
          @else {
            background: $alt;
          }
        }
      }
    }
  }

}

$deadspin: #2d9d92;
$deadspin-light: #a1dbd2;

$gawker: #e25a48;
$gawker-light: #fcc9c8;

$gizmodo: #28ade6;
$gizmodo-light: #a8d4e2;

$io9: #c34b9e;
$io9-light: #dda2cd;

$jalopnik: #ff4d00;
$jalopnik-light: #efa084;

$jezebel: #e21638;
$jezebel-light: #e2b7c3;

$kotaku: #fbbe23;
$kotaku-light: #f7e0b2;
$kotaku-alt: #b22460;

$lifehacker: #709602;
$lifehacker-light: #c5d199;

@include site_color(deadspin, $deadspin, $deadspin-light);
@include site_color(gawker, $gawker, $gawker-light);
@include site_color(gizmodo, $gizmodo, $gizmodo-light);
@include site_color(io9, $io9, $io9-light);
@include site_color(jalopnik, $jalopnik, $jalopnik-light);
@include site_color(jezebel, $jezebel, $jezebel-light);
@include site_color(kotaku, $kotaku, $kotaku-light, $kotaku-alt);
@include site_color(lifehacker, $lifehacker, $lifehacker-light);
@include site_color(dealskinja, $gizmodo, $gizmodo-light);
