@import 'type';
body { font-family: $sans; }
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.top_container {
  max-width: 970px;
  margin: 0 auto;
}

input:focus {
  outline: none;
}
