@import "base";
@import "kinja_fonts";
@import "breakpoint";

$yellow: #ffc810;
$black: #353535;

$mobile: 500px;


.container {
  font-family: ProximaNovaCond;
  display: flex;
  flex-direction: column;
  max-width: 636px;
  .header {
    background: $black;
    h4 {
      margin: 8px 14px 5px;
      font-weight: normal;
      letter-spacing: 1.5px;
    }
    a {
      color: $yellow;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .marquee {
    @include breakpoint(max-width $mobile) {
      display: none;
    }
    cursor: pointer;
    display: flex;
    background: #EDEDED;
    flex-direction: row;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
    }
    .box {
      flex: 1 0 0;
      display: flex;
      .text {
        text-align: center;
        padding: 10px 25px;
        flex: 1 1 0;
        h2 {
          line-height: 1.2em;
          margin: 5px 0;
        }
        h4.tag {
          margin: 0;
          text-transform: uppercase;
          color: #A6A6A6;
          font-weight: normal;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      .deck {
        font-family: Georgia;
        color: black;
        padding: 5px;
        line-height: 25px;
        font-size: 17px;
        hr {
          border-bottom: 2px solid black;
          border-style: solid;
          width: 20px;
          margin: 0 auto 15px;
        }
      }
    }
  }
  .links {
    @include breakpoint(max-width $mobile) {
      flex-direction: column;
      text-align: left;
      padding: 0;
    }
    cursor: pointer;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    background: $black;
    padding: 0 10px;
    a {
      color: white;
      text-decoration: none;
    }
    .hoverableLink {
      flex: 1 1 0;
      min-height: 110px;
      img {
        display: none;
        @include breakpoint(max-width $mobile) {
          display: inline-block;
          flex: 1 0 0;
          width: 100%;
          height: 100%;
          margin-right: 10px;
        }
      }
      .headline {
        @include breakpoint(max-width $mobile) {
          display: flex;
          flex-direction: row;
          padding: 5px;
        }
        flex: 1 0 0;
        padding: 10px 15px 15px;
        h4 {
          @include breakpoint(max-width $mobile) {
            flex: 2 0 0;
          }
          margin: 0;
          font-weight: normal;
          line-height: 19px;
        }
        &.active h4 {
          color: $yellow;
          @include breakpoint(max-width $mobile) {
            color: white;
          }
        }
      }
      .dot {
        align-items: flex-start;
        flex: 1 0 0;
        @include breakpoint(max-width $mobile) {
          display: none;
        }
      }
    }
  }
}
.dot {
  width: 12px;
  height: 12px;
  margin: 14px auto 1px;
  border-radius: 6px;
  border: 2px solid $yellow;
  &.active {
    background: $yellow;
  }
}

.hide {
  display: none;
}
